/*
Theme Name: Habitissino Sass
Description: Styles for Landing Page - Habitissino Challemge
*/

//bootstrap
@import "bootstrap";

// typography
@import "typography";

// compass
// @import "compass";

// import files
// @import "imports";

// mixins
@import "mixins";

// variables
@import "variables";

/* GENERAL STYLES
-------------------------------------------------*/
body {
  background: $bg-page;
  font-family: $font-text;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.5em;
  position: absolute;
  height: 100%;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  font-family: $font-text;
  color: $color-link;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: none !important;
    outline: none !important;
  }

  &:active {
    outline: none !important;
    text-decoration: none !important;
    color: $color-link-active;
  }
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  font-family: $font-text;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.6em;
  color: $color-text;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-text;
  font-family: $font-title;
  font-weight: 300;
  line-height: 1.3em;
}

.m-t-20 {
  margin-top: 20px;
}

/* Backgrounds
-------------------------------------------------*/
.bg-gray {
  background-color: $color-light-grey;
}

/* Lists
-------------------------------------------------*/
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;

  // ordered list large for process view
  &.list-process {
    li {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.2em;
      margin-left: 0;
      position: relative;
      margin-bottom: 0.25em;

      &:nth-child(1n):before {
        display: inline-block;
        width: 50px;
        height: 40px;
        background-color: $color-logo-orange;
        font-family: $font-title, sans-serif;
        font-size: 32px;
        font-weight: 300;
        line-height: 2px;
        color: $color-white;
        text-align: center;
        vertical-align: middle;
        content: "";
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-right: 15px;
        border-top: 20px solid transparent;
        border-left: 10px solid $color-light-grey;
        border-bottom: 20px solid transparent;
      }

      @for $i from 1 through 3 {
        &:nth-child(#{$i}):before {
          content: "#{$i}";
          line-height: 2px;
          display: inline-block;
        }
      }
    }
  }

  // list for advantages
  &.list-advantages {
    margin-left: 60px;
    margin-top: 15px;
    li {
      font-weight: 400;
      font-size: 1.1em;
      line-height: 1.2em;
      margin-left: 0;
      position: relative;
      margin-bottom: 1em;

      i {
        font-size: 32px;
        color: $color-logo-orange;
      }

      strong {
        font-weight: 700;
      }

      p {
        font-weight: 400;
        font-size: 0.75em;
        line-height: 1.2em;
        margin: 5px 0;
      }
    }
  }
}

// navbar-category
// media queries
@include media-breakpoint-down(lg) {
  ol, ul {
    &.list-process {
      li {
        font-size: 1em;
      }
    }
    &.list-advantages {
      li {
        font-size: 1em;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  ol, ul {
    margin-bottom: 15px;
    text-align: center;

    // ordered list large for process view
    &.list-process {
      li {
        font-weight: 400;
        font-size: 1.1em;
        line-height: 1.2em;
        margin: 0 2%;
        position: relative;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        margin-bottom: 0.25em;

        &:nth-child(1n):before {
          margin: 0 auto 5px;
          display: block;
          width: 50px;
          height: 50px;
          border: none;
          @include rounded(25px);
        }
        @for $i from 1 through 3 {
          &:nth-child(#{$i}):before {
            content: "#{$i}";
            line-height: 50px;
          }
        }
      }
    }
  }
}

/* Nav
-------------------------------------------------*/
// navbar-header
// header first line
.navbar-header {
  background-color: $bg-navbar-header;

  &-left {
    text-align: left;

    img {
      width: 240px;
      max-width: 100%;
      margin: 30px 0 30px -13px;
    }
  }

  &-right {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
    text-align: left;

    img {
      width: 101px;
      height: 87px;
      position: absolute;
      bottom: 0;
      margin-left: 50px;
    }

    p {
      margin-left: 170px;
      margin-right: 30px;
      font-size: 20px;
      line-height: 24px;
    }

    button {
      display: none;
      &.bg-light {
        background-color: $bg-navbar-category !important;
        margin-left: 10px;
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}

// navbar-category
// header second line - navigaton
#navbar-category {
  background-color: $bg-navbar-category;
  border-top: 1px solid $color-light-grey;
  border-bottom: 1px solid $color-light-grey;

  .row {
    margin: 0 -30px;
  }

  ul {
    display: block;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 8px 0 8px;
    overflow: hidden;
    font-size: 15px;
    letter-spacing: 0.01rem;
    color: $color-light;
    text-align: justify;
    display: flex;
    justify-content: space-between;

    li {
      display: inline-block;

      a {
        padding: 4px 15px;
        @include rounded(1rem);
        display: inline-block;
        cursor: pointer;
        background-color: $bg-navbar-category;
        color: $color-text;
        font-weight: 500;
        @include transition-ease-in-out(0.2s);
        &:hover {
          color: $color-light;
          background-color: $color-link;
        }
        &:active, &:focus {
          background-color: $color-link;
        }
      }
    }
  }
}

// navbar-category
// header second line - mobile navigation
.navbar {
  padding: 0;
}

.wrapper-navbar-category-mobile {
  display: none;
}

// navbar-category
// media queries
@include media-breakpoint-down(lg) {
  .navbar-header {
    &-left {
      img {
        width: 240px;
        max-width: 100%;
        margin: 30px 0 30px -13px;
      }
    }
    &-right {
      p {
        margin-left: 170px;
        margin-right: 30px;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar-header {
    &-right {
      padding: 20px 0;
      text-align: left;
      img {
        display: none;
      }
      p {
        text-align: right;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 14px;
        line-height: 18px;
      }
      a {
        zoom: 0.7;
      }
    }
  }
  #navbar-category {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-header {
    &-left {
      text-align: center;
      img {
        width: 200px;
        margin: 20px 0 20px 0;
      }
    }
    &-right {
      padding: 0;
      text-align: left;
      img {
        display: none;
      }
      p {
        display: none;
      }
      a {
        display: none;
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .navbar-header {
    &-right {
      button {
        display: inherit;
      }
    }
  }
  .wrapper-navbar-category-mobile {
    display: inherit;
  }
}

/* Form
-------------------------------------------------*/
#wrapper-form {
  margin-bottom: 100px;

  h1 {
    margin: 1.5rem 0;
  }

  // right column
  // budget-request
  .wrapper-budget-request {
    margin-right: -15px;
    background-color: $color-white;
    box-shadow: 0 0 0 5px rgba(0,0,0,.1);
    min-height: 400px;
    @include rounded(3px);

    .titulo-budget-request {
      background-color: $color-logo-blue;
      padding: 0;
      h2 {
        color: $color-white;
        font-size: 1.5em;
        font-weight: 700;
        line-height: 30px;
        height: 50px;
        margin: 0;
        padding: 10px 15px;
        position: relative;

        &.msg-free {
          background-color: $color-logo-orange;

          &:before {
            position: absolute;;
            display: inline-block;
            top: 0px;
            left: -10px;
            width: 15px;
            height: 50px;
            background-color: $color-logo-orange;
            font-family: $font-title, sans-serif;
            text-align: center;
            vertical-align: middle;
            content: "";
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-top: 25px solid transparent;
            border-left: 10px solid $color-logo-blue;
            border-bottom: 25px solid transparent;
          }
        }
      }
    }

    #budget-request {
      padding: 30px;

      .wrapper-subcategory {
        display: none;
      }

      .btn {
        font-weight: 600;
      }
      .btn-outline-warning {
        border-color: $color-logo-orange;
      }
      .btn-warning {
        background-color: $color-logo-orange;
        border-color: $color-logo-orange;
        color: $color-white;
      }

      .step {
        display: none;
      }

      .wrapper-step-point {
        margin-top: 20px;

        .step-point {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: $color-grey;
          border: none;
          border-radius: 50%;
          display: inline-block;
          opacity: 0.5;

          &.active {
            opacity: 1;
          }

          &.finish {
            background-color: $color-logo-orange;
            opacity: 1;
          }
        }
      }
    }
  }

  .tv-promo {
    margin: 15px 0;
    p, i {
      vertical-align: middle;
    }
    i {
      color: $color-grey;
    }
  }
}

// wrapper-form
// media queries
@include media-breakpoint-down(md) {
  #wrapper-form {
    .wrapper-list-advantages {
      display: none;
    }
    .wrapper-budget-request {
      margin-left: -15px;
    }
  }
}

@include media-breakpoint-down(sm) {
  #wrapper-form {
    .wrapper-category-title {
      display: none;
    }
    .wrapper-form-left {
      display: none;
    }
    .wrapper-budget-request {
      box-shadow: none;
      .titulo-budget-request {
        h2 {
          text-align: center;
          &.msg-free {
            display: none;
          }
        }
      }
    }
    .tv-promo {
      display: none;
    }
  }
}
