/* VARIABLES */

// colors
$color-text: #353535;
$color-logo-grey: #6b6d6f;
$color-logo-orange: #ec9435;
$color-logo-blue: #118bbf;

$color-link: #ec9435;
$color-link-hover: #e67e22;
$color-link-active: #d35400;

$color-white: #ffffff;
$color-light: #ffffff;
$color-light-grey: #ecf0f1;
$color-grey: #bdc3c7;

// backgrounds
$bg-page: #ecf0f1;
$bg-navbar-header: #ffffff;
$bg-navbar-category: #ffffff;

// font families
$font-title: 'Yantramanav', Arial, Verdana, sans-serif;
$font-text: 'Raleway', Arial, Verdana, sans-serif;
